[submodule ".registry"]
	path = .registry
	url = https://github.com/jauntyjjs/jauntyjjs.r-universe.dev
	branch = HEAD
[submodule "pretestcad"]
	path = pretestcad
	url = https://github.com/jauntyjjs/pretestcad
	branch = main
